            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
            {% endif %}
            {%- if site.wechat_qr -%}
            <a id="WeChatBtn" title="WeChat"><i class="fa-brands fa-weixin"></i></a>
            <div id="WeChatMod" class="wechat-modal">
                <img src="{{ site.wechat_qr | prepend: 'assets/img/' | relative_url }}" alt="WeChat QR" id="WeChatQR">
            </div>
            {% include scripts/wechatModal.html %}
            {% endif %}
